@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
}

body{
    font-size: 20px;
    font-family: 'Libre Franklin', sans-serif;
}


:root{
--Blue: hsl(223, 87%, 63%);
--Pale-Blue: hsl(223, 100%, 88%);
--Light-Red: hsl(354, 100%, 66%);
--Gray: hsl(0, 0%, 59%);
--Very-Dark-Blue: hsl(209, 33%, 12%);
}

button{
    border: none;
    width: 250px;
    padding: 6px;
    margin-top: 10px;
}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 15% 5% 6% 5%;
    padding: 2%;
}

.img-tema img{
    width: 325px;
}

.logo img {
    width: 80px;
    margin: 30px;
}

section{
    text-align: center;
}

section h2{
      color: var(--Gray);
      font-weight: normal;
      font-size: 27px;
      margin-bottom: 20px;
}

section span{
    font-weight: 700;
    color: black;
}

.txt-1{
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 25px;
}

#text{
    font-size: small;
}



input:focus{
    outline: none;

}

input::placeholder{
    text-align: left;
    font-size: small;
}


form input {
    min-width: 260px;
    border: none;
    background-color: transparent;
}

form button {
    width: 100%;
    padding: 3%;
    font-weight: 400;
    margin-top: 25px;
    margin-bottom: 55px;
    color: #fff;
    border-radius: 50px;
    background-color: var(--Blue);
}

#box {
    border: 1px solid #969696;
    border-radius: 50px;
    padding: 4%;
}

.row-or-column{
    display: flex;
    justify-content: center;
    padding: 5px;
}

.row-or-column .icon{
    margin-left: 20px;
    color: var(--Blue);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.row-or-column .icon:hover{
    background-color: var(--Blue);
    color: white;
}

.icon{
    border-radius: 50px;
    border: 1px solid #f3f6fd;
    padding: 4%;
    width: 50px;
    height: 50px;
}

.copy {
    display: flex;
    justify-content: center;
    color: var(--Gray);
    font-size: 15px;
    text-align: center;
    margin-top: 25px;
}

@media screen  and (min-width: 1440px){
 
    .container{
        flex-wrap: nowrap;
    }


    .img-tema img{
        margin-top: 55px;
        width: 900px;
    }


    #text{
        display: inline-block;
        position: absolute;
        left: 390px;
        top: 555px;
        text-align: justify;
        font-size: small;
    }

    section h2{
        font-size: 4.5rem;
  }
  
    
    /*form*/
    form{
        display: inline-block;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 1000px;
    }

    form button {
        width: 25%;
        padding: 2%;
        font-weight: 400;
        margin-top: 25px;
        margin-bottom: 55px;
    }

  
    #box {
        width: 45%;
        height: 15%;
        display: inline-block;
        padding: 2%;
        margin-right: 15px;
    }
    
    .icon{
        padding: 2%;
    }
    

    .row-or-column .icon{
        margin-left: 30px;
    }

    .copy {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}
